<table mat-table [dataSource]="periodicElements()">
	<tr mat-header-row *matHeaderRowDef="headers"></tr>
	<tr mat-row *matRowDef="let row; columns: headers"></tr>

	@for(header of headers; track header) {
	<ng-container [matColumnDef]="header">
		<th mat-header-cell *matHeaderCellDef>
			{{ header === "position" ? "number" : header }}
		</th>
		<td mat-cell *matCellDef="let element">{{ element[header] }}</td>
	</ng-container>
	}

	<tr *matNoDataRow>
		<td colspan="4" class="empty">There is nothing here ...</td>
	</tr>
</table>
